.Side {
  height: 100vh;
  box-shadow: 4px 0 12px #ccc;
  text-align: left;

  .el-input {
    i {
      cursor: pointer;
    }

    input {
      border-radius: 0;
      border: none;
    }
  }

  .title {
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
    display: block;
  }
}
